@model WebApplication3.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>First</title>
</head>
<body>
    <ul>
        <li>@Model.id</li>
        <li>@Model.name</li>
        <li>@Model.desc</li>
    </ul>

</body>
</html>
